@import 'global-styles/globals.scss';

.weather-result {
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    width: 320px;
  }

  &__weather-header {
    text-align: center;
  }
}
