@import 'global-styles/globals.scss';

.search-city-form {
  display: flex;
  align-items: center;
  justify-content: center;

  &__form {
    display: flex;
    flex-direction: column;
    max-width: 320px;
  }

  &__header {
    text-align: center;
  }

  &__group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
  }

  &__latest-cities {
    margin-bottom: 1em;
  }
}
