@import 'global-styles/globals.scss';

.latest-cities {
  &__city {
    font-size: 1em;
    text-align: left;
    color: $color-link;
    background: none;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;

    -moz-user-select: text;
  }
}
